# Compiled class files
*.class

# Log files
*.log

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Maven
target/
.mvn/
mvnw
mvnw.cmd

# Eclipse
.classpath
.project
.settings/
bin/

# IntelliJ
.idea/
*.iml
*.iws

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Server files
Tomcat*/
apache-tomcat*/